<nav class="navbar navbar-expand-lg" style="background-color: #0a192f;">
  <div class="container-fluid">
    <img src="./assets/deeLogo.png" alt="deeLogo" href="#" routerLink="/"/>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" [class.color]="id==='about'" (click)="tabChange('about')"routerLink="/" href="#"><span class="index">01. </span>About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.color]="id==='experience'" (click)="tabChange('experience')"routerLink="/experience" href="#"><span class="index">02. </span>Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.color]="id==='projects'" (click)="tabChange('projects')"routerLink="/projects"href="#"><span class="index">03. </span>Projects&nbsp;</a>
        </li>        
        <li>
          <a href="https://docs.google.com/document/d/1Xs7OZ423lwSS5-VDx2vaFHEzuGmHqAJsG86YagP36dE/edit?usp=sharing" target="_blank">
          <button class="btn" style="color:#64ffda;border-color: #64ffda;"type="submit">Resume</button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
