<div orientation="left" class="social">
    <ul class="socialIcons">
    <li>
        <a href="https://github.com/deeptea22" aria-label="GitHub" target="_blank" rel="noreferrer">
            <span class="iconify" data-icon="iconoir:github"></span>
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/deepthi-m22/" aria-label="Linkedin" target="_blank" rel="noreferrer">
            <span class="iconify" data-icon="eva:linkedin-outline"></span>
        </a>
    </li>
    <li>
        <a href="https://leetcode.com/deeptea22/" aria-label="LeetCode" target="_blank" rel="noreferrer">
            <span class="iconify" data-icon="simple-icons:leetcode"></span>
        </a>
    </li>
    <li>
        <a href="https://www.figma.com/files/user/952825344740691818?fuid=952825344740691818" aria-label="Figma" target="_blank" rel="noreferrer">
            <span class="iconify" data-icon="akar-icons:figma-fill"></span>
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/deepthiiiii_/" aria-label="Instagram" target="_blank" rel="noreferrer">
            <span class="iconify" data-icon="akar-icons:instagram-fill"></span>
        </a>
    </li>
</ul>
</div>