<div class="row about">
    <h6>Hi! My name is</h6>
    <h1>Deepthi M.</h1>
    <h3>I solve problems.</h3>
    <br><br>
    <br><br>
    <p>
        I'm a<span class="subs"> Java Developer </span> with a deep understanding of microservices architecture and a strong
        technical background in<span class="subs"> Spring Boot, Kafka, AWS, and cloud-native solutions</span>. Over the years, I've worked on developing, optimizing,
        and maintaining enterprise-grade applications, helping businesses achieve their goals through robust and scalable
        technology solutions.
        <br><br>
        My expertise lies in crafting backend systems that are both<span class="subs"> high-performing and resilient, ensuring seamless
        integrations and efficient data flows</span>. I've successfully migrated legacy systems into microservices architecture,
        optimized logging and monitoring using Splunk, and tackled complex challenges in data streaming and cloud environments.
        <br><br>
        Beyond coding, I thrive in environments where<span class="subs"> collaboration drives innovation</span>. I enjoy engaging in discussions that
        challenge traditional approaches and lead to creative solutions.<span class="subs"> Continuous learning </span>is a key part of my professional
        journey — I’m always eager to explore emerging technologies to refine my skills.
        <br><br>
        Whether solving technical challenges or designing system architecture, I approach each task with curiosity and
        dedication. I'm committed to building impactful applications that align with business objectives while embracing
        innovation and simplicity.
      </p>
    </div>