<div class="row about">
        <h6>Hi! My name is</h6>
    <h1>Deepthi M.</h1>
    <h3>I solve problems.</h3>
    <br>
    <p>I am a <span class="subs">third-year student studying Computer Science Engineering</span> at Sathyabama Institute of Science and Technology.<br><br> 
        I like designing and developing Web and Android applications.
        I like to work with <span class="subs">Java, Python, PHP, and SQL</span>. I have also recently been learning and 
        using <span class="subs">Angular and Firebase</span>.<br><br> I was an active technical team member at the Google Developers 
        Student Club in my college and I recently became the <span class="subs">Design Lead</span> there. Apart from these
        technical skills, I like problem-solving and am passionate about art so, I spend most of my
        free time painting. </p>
    </div>