<div class="myprojects">
  <h1 class="title">My Work</h1>
  <div class="project-container">
  <div class="project">
    <div class="project-content">
      <div class="project-label">Featured Project</div>
      <h4 class="project-title">Customer Satisfaction Index</h4>
      <div class="project-details">
        <p>A web application aimed at increasing the customer satisfaction index. Uses concepts of sentiment analysis and image description generation to display the customer satisfaction index earned every month. This information can be used by business to grow, satisfy and attract more customers.</p>
        <ul>
          <li>Python</li>
          <li>MariaDB/MySQL</li>
          <li>PHP</li>
          <li>HTML</li>
          <li>CSS</li>
        </ul>
        <ul>
          <li>
            <a href="https://github.com/deeptea22/tcsinframind" target="_blank">          
            <span class="iconify" data-icon="eva:github-outline" style="color: #64ffda;" data-width="24px"></span>
            </a>
          </li>          
        </ul>
      </div>
      
    </div>
    
    <div class="project-img">
      <img src="./assets/CSI.jpg" alt="Customer Satisfaction Index" />
    </div>
    
  </div>
  <div class="project">
    <div class="project-content">
      <div class="project-label">Featured Project</div>
      <h4 class="project-title">H2O4U</h4>
      <div class="project-details">
        <p>An Android mobile application aimed at making water delivery easier for both sellers and buyers. The customers will find it easier to book water cans and bottles using the app. While, the sellers can keep track of the delivery and payment transactions all in one app.</p>
        <ul>
          <li>Android</li>
          <li>MariaDB/MySQL</li>
          <li>PHP</li>
          <li>Java</li>          
        </ul>        
      </div>
      
    </div>
    
    <div class="project-img">
      <img src="./assets/H2O4U.jpg" alt="H2O4U" />
    </div>
    
  </div>
  <div class="project">
    <div class="project-content">
      <div class="project-label">Featured Project</div>
      <h4 class="project-title">CINE</h4>
      <div class="project-details">
        <p>A web application used to display the latest movie trends at the time. The most popular movies are fetched and displayed using 'The Movied Database API'. The website also displays the details of the movie and a YouTube link to the trailer. Currently working on implementing a favourites feature.</p>
        <ul>
          <li>React</li>          
          <li>HTML</li>
          <li>CSS</li>
        </ul>
        <ul>
          <li>
            <a href="https://github.com/deeptea22/React-Movie-App" target="_blank">
            <span class="iconify" data-icon="eva:github-outline" style="color: #64ffda;" data-width="24px"></span>
            </a>
          </li>
          <li>
            <a href="https://deeptea22.github.io/React-Movie-App/#" target="_blank">            
            <span class="iconify" data-icon="ci:external-link" style="color: #64ffda;" data-width="24px"></span>
            </a>
          </li>
        </ul>
      </div>
      
    </div>
    
    <div class="project-img">
      <img src="./assets/CINE.jpg" alt="CINE" />
    </div>
    
  </div>
</div>
</div>